:host {
    
    .wrapper {
        
        margin: 40px;
        
        .down-arrow {
            
            display: flex;
            justify-content: center;
            padding: 20px;
            
        }
        
    }
    
}
