<div class="wrapper">

    <form [formGroup]="botsDeployCreateService.formGroup">

        <table style="width: 100%">

            <tr>

                <td style="display: flex; justify-content: flex-end">

                    <mat-button-toggle-group [formControl]="botsDeployCreateService.formGroup.get('repoVisibility')">

                        <mat-button-toggle value="Public">

                            Public

                        </mat-button-toggle>

                        <mat-button-toggle value="Private">

                            Private

                        </mat-button-toggle>

                    </mat-button-toggle-group>

                </td>

            </tr>

            <tr>

                <td style="width: 100%">

                    <mat-form-field style="width: 100%" floatLabel="always">

                        <input matInput
                               maxlength="255"
                               required
                               appAutofocus
                               formControlName="gitUrl"
                               placeholder="Git Repository URL">

                    </mat-form-field>

                </td>

            </tr>

        </table>

    </form>

</div>
