<div class="wrapper">

    <form *ngFor="let formGroup of botsDeployCreateService.formGroup.get('environments')['controls']"
          [formGroup]="formGroup">

        <table style="width: 100%">

            <tr>

                <td style="width: 35%">

                    <mat-form-field style="width: 99%" floatLabel="always">

                        <input matInput
                               maxlength="255"
                               appAutofocus
                               formControlName="name"
                               placeholder="Environment Variable Name">

                    </mat-form-field>

                </td>

                <td>

                    <mat-form-field style="width: 100%" floatLabel="always">

                        <input matInput
                               maxlength="1000"
                               appAutofocus
                               formControlName="value"
                               placeholder="Environment Variable Value">

                    </mat-form-field>

                </td>

            </tr>

        </table>

    </form>

</div>
