<div class="wrapper">

    <form [formGroup]="botsDeployCreateService.formGroup">

        <table>

            <tr>

                <td>

                    <mat-form-field floatLabel="always">

                        <mat-select formControlName="image"
                                    placeholder="Runtime"
                                    required>

                            <mat-option *ngFor="let image of botsDeployCreateService.botImages"
                                        [value]="image.id">

                                {{ image.name }}

                            </mat-option>

                        </mat-select>

                    </mat-form-field>

                </td>

            </tr>

        </table>

    </form>

    <form *ngFor="let formGroup of botsDeployCreateService.formGroup.get('environments')['controls']; let i = index"
          [formGroup]="formGroup">

        <table>

            <tr>

                <td style="width: 35%">

                    <mat-form-field style="width: 99%" floatLabel="always">

                        <input matInput
                               maxlength="255"
                               appAutofocus
                               formControlName="name"
                               placeholder="Environment Variable Name">

                    </mat-form-field>

                </td>

                <td>

                    <mat-form-field style="width: 100%" floatLabel="always">

                        <input matInput
                               maxlength="1000"
                               appAutofocus
                               formControlName="value"
                               placeholder="Environment Variable Value">

                    </mat-form-field>

                </td>

                <td>

                    <mat-icon (click)="botsDeployCreateService.removeEnv(i)">close</mat-icon>

                </td>

            </tr>

        </table>

    </form>

</div>
