:host {
    
    .wrapper {
        
        margin: 20px;
        
        .top {
            
            display: flex;
            justify-content: space-between;
            
            .left {
            
            
            }
            
            .right {
            
            
            }
        }
        
    }
    
}
