@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import 'default';

body {
    
    margin: 0;
    padding: 0;
    
    font-family: "open sans", Roboto, "Helvetica Neue", sans-serif;
    
}

* {
    
    outline: none;
    color: #d7d7d7;
    
}

.mat-dialog-container {
    
    padding: 0 !important;
    
}

mat-drawer {
    
    width: 55px !important;
    
}

mat-drawer-content {
    
    margin-left: 55px !important;
    
}

/**
 *
 * Vertical Toolbar (either on the left or right)
 *
 */
.mat-drawer {
    
    background: #1D2125 !important;
    
}

.ngxux-admin-vertical-toolbar {
    
    background: #1D2125;
    
    .item {
        
        &:hover {
            
            background: #d5e0ff;
            
        }
    }
    
    .top .icon {
        
        color: #888;
        
    }
    
    .middle .icon {
        
        color: #476be6;
        
        &:hover {
            
            color: #000;
            
        }
        
    }
    
    .bottom .icon {
        
        color: red;
        
    }
    
}

.content {
    
    background: #22272A !important;
    
}

ngxux-mat-header-nav .wrapper {
    
    background: #36393E !important;
    
}

mat-expansion-panel {
    
    background: #2E3336 !important;
    
}

.buttons {
    
    display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
    
    
}

.buttons.right {
    
    justify-content: flex-end;
}

ngx-datatable {
    
    background: unset !important;
    
}

.content {
    
    background: url('/assets/bg.jpg') no-repeat !important;
    background-size: cover !important;
    
}

table {
    
    width: 100%;
    
}


ngxux-mat-login {
    
    .wrapper {
        
        background: url('/assets/bg.jpg') no-repeat !important;
        background-size: cover !important;
        
        .container {
            
            background: #333 !important;
            
            .title, .buttons {
                
                background: #222 !important;
                
            }
            
        }
    }
    
}
